.container {
  background: url('/images/signin_background.jpg');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.signin_container {
  width: 40%;
  margin: auto;
  padding: 2rem;
}
.title {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}
.input_field {
  width: 100%;
  margin-top: 2rem !important;
}
.action_container {
  margin: 1rem auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .signin_container {
    width: 90%;
  }
}
